body {
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url('../images/monkey_bg.png');
}

h1 {
	font-family: 'The Girl Next Door', cursive;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 2;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

#nav li {
	float: left;
}

#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc;
}

#nav li a hover {
	color: #c00;
	background-color: #fff;
}

div.transbox {
	width: 800px;
	height: 500px;
	margin: 60px 50px;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.6;
}

div.transbox h2 {
	margin:30px 40px;
}

div.transbox p {
	margin: 30px 40px;
	font-weight: bold;
	color: #000000;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	vertical-align: center;
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
}

.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
}

.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear,left top, left bottom, from(#0078a5), to(#00adee));
}

div#buttoncenter {
	clear: both;
	text-align:center;
}

#gallery {
	border: 10px solid #1D0C16;
	height: 300px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	overflow: visible;
	background: #272229;
	-moz-box-shadow: #272229 10px 10px 20px;
}

#gallery ul {
	margin-left:-30px;
}

#gallery ul li {
	list-style: none;
	display: inline-table;
	padding: 10px;
}

#gallery ul li .pic {
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	margin-top: 10px;
	margin-left: -20px;
	border: 1px solid black;
	-webkit-box-shadow: #272229 2px 2px 10px;
	-moz-box-shadow: #272229 2px 2px 10px;
	box-shadow: #272229 2px 2px 10px;
}

#gallery ul li .mini:hover {
	cursor: pointer;
}

#gallery ul li:hover .pic {
	width: 200px;
	height: 200px;
	opacity: 1;
	visibility: visible;
	float: right;
}

#firstparagraph {
	width: 30%;
	float: left;
	padding: 1%;
}

#secondparagraph {
	width: 30%;
	float: left;
	padding: 1%;
}

#thirdparagraph {
	width: 30%;
	float: left;
}